@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

.containers {
    font-family: 'Montserrat', sans-serif;
}

.image {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(183, 183, 200, 1) 35%, rgba(0, 212, 255, 1) 100%);
}
.ynotation{
    background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  ), url("../../public/images/ynotation.png");
}